.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main span:first-child {
  font-size: 8rem;
  color: #fff;
  font-weight: 600;
}

.main span:last-child {
  font-style: italic;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .main span:first-child {
    font-size: 6rem;
  }
}
